:root {
    --primary-color: #34495E;
    --secondary-color: #2C3E50;
}

/* Content Area */
#content-area {
    position: relative;
    width: 100%;
    height: calc(100% - 50px); 
    overflow: hidden;
    background-color: #ffffff;
}

/* Canvas */
#drawing-canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Higher than other elements */
    background: transparent;
    pointer-events: none;
}

.toolbar-btn.active {
    background-color: #162935;
    color: white;
    border: 1px solid #03070a;
  }
  

/* Workspace */
#workspace {
    position: absolute;
    top: 50px; 
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 2;
    pointer-events: auto;
}

/* Toolbar Section */
.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: var(--secondary-color);
    border-bottom: 1px solid #7f8c8d;
    z-index: 3;
}

/* Toolbar Buttons */
.toolbar-btn {
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar-btn i {
    font-size: 1.4em;
    margin-bottom: 4px; 
}

.toolbar-btn span {
    font-size: 0.8em; 
    color: #bdc3c7;
    text-align: center;
}

.toolbar-btn:hover {
    transform: scale(1.1); 
    color: #ffffff; 
}

/* Writable Area */
.writable-area {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.writable-area textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 1em;
    background-color: #ffffff;
    color: #333333;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

#color-picker,
#line-width {
  margin: 5px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

#color-picker {
  width: 40px;
  height: 30px;
}

.modal {
    display: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #ecf0f1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 15px;
    z-index: 1000;
}

.modal-content label {
    color: #2c3e50; 
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

#link-input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 1em;
}

#insert-link-btn {
    width: 100%;
    padding: 8px;
    background-color: #2c3e50;
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#insert-link-btn:hover {
    background-color: #34495e;
}

.edit-link-btn {
  background: #bdc3c7;
  border: none;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  display: none; 
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.edit-link-btn:hover {
  background: #95a5a6;
}